<div class="button"> 
<button type= "button" class= "btn btn-primary" >All</button>
<button type= "button" class= "btn btn-primary" >Complete</button>
<button type= "button" class= "btn btn-primary" >Incomplete</button>
</div>
<table>
<div class= "table table-borderless">

    <tr>
        <div class= "details">
        <td>
            <input type="checkbox">
        </td>
        <td>
            <span>vijay</span>
        </td>
        <td id= "due">
            <span>Due:oct 20</span>
        </td>
        </div>
        <td>
            <div class= "btn">
             <button type= "button" class= "btn btn-light" id="buttonSpace"> <i class="fa fa-pencil-square-o"></i>Edit</button>
             <button type= "button" class= "btn btn-danger"><i class="fa fa-trash-o "></i>Remove</button>
             
             </div>
       </td>
     </tr>
      <tr>
        <div class= "details">
        <td>
            <input type="checkbox">
        </td>
        <td>
            <span>vijay</span>
        </td>
        <td id= "due">
            <span>Due:oct 20</span>
        </td>
        </div>
            <td>
            <div class= "btn">
             <button type= "button" class= "btn btn-light" id="buttonSpace"><i class="fa fa-pencil-square-o"></i>Edit</button>
             <button type= "button" class= "btn btn-danger"><i class="fa fa-trash-o "></i>Remove</button>
             </div>
       </td>
     </tr>
      <tr>
        <div class= "details">
        <td>
            <input type="checkbox">
        </td>
        <td>
            <span>vijay</span>
        </td>
        <td id= "due">
            <span>Due:oct 20</span>
        </td>
        </div>
            <td>
            <div class= "btn">
             <button type= "button" class= "btn btn-light" id="buttonSpace"><i class="fa fa-pencil-square-o"></i>Edit</button>
             <button type= "button" class= "btn btn-danger"><i class="fa fa-trash-o "></i>Remove</button>
             </div>
       </td>
     </tr>
      <tr>
        <div class= "details">
        <td>
            <input type="checkbox">
        </td>
        <td>
            <span>vijay</span>
        </td>
        <td id= "due">
            <span>Due:oct 20</span>
        </td>
        </div>
            <td>
            <div class= "btn">
             <button type= "button" class= "btn btn-light" id="buttonSpace"><i class="fa fa-pencil-square-o"></i>Edit</button>
             <button type= "button" class= "btn btn-danger"><i class="fa fa-trash-o "></i>Remove</button>
             </div>
       </td>     
     </tr>
      <tr>
        <div class= "details">
        <td>
            <input type="checkbox">
        </td>
        <td>
            <span>vijay</span>
        </td>
        <td id= "due">
            <span>Due:oct 20</span>
        </td>
        </div>
            <td>
            <div class= "btn">
             <button type= "button" class= "btn btn-light" id="buttonSpace"><i class="fa fa-pencil-square-o"></i>Edit</button>
             <button type= "button" class= "btn btn-danger"><i class="fa fa-trash-o "></i>Remove</button>
             </div>
       </td>
     </tr>
     
</div>

</table>

