<div class= "addTask"> 
<label>Due</label>
<input type= "text" class= "due">

<label>Task Description</label>
<input type ="text" class="description">

<button type="button" class= "btn btn-light">Add</button>
</div>