<div class= "edit">
   <h2>Edit task</h2> 
</div>

<div class= "editBox">
<label>Due</label>
<input type= "text" class= "due">

<label>Task Description</label>
<input type ="text" class="description">

<button type="button" class="btn btn-primary">Save</button>
</div>
<img src="../assets/images/zoey.png" >
